<div class="layout">
    <app-navbar></app-navbar>
    <div class="afastamento">
        <div class="top-table">
            <app-search-bar></app-search-bar>
            <div class="buttons">            
                <button class="btn btn-info" (click)="mostrarTabelaJovens()">Jovens</button>
                <button class="btn btn-info" (click)="mostrarTabelaEmpresas()">Empresas</button>
            </div>
        </div>    
        <app-table-jovens *ngIf="tabelaAtiva === 'jovens'"></app-table-jovens>
        <app-table-empresas *ngIf="tabelaAtiva === 'empresas'"></app-table-empresas>
    </div>
</div>