services:
  backend:
    build: ./backend
    container_name: controle-demandas-api
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: controle-demandas-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
    networks:
      - app-network
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge
