<h4>Cadastro / Edição de Cidadão</h4>

<form class="d-flex flex-column gap-4">

  <!-- CPF -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>CPF</mat-label>
    <input matInput type="text" [(ngModel)]="cidadao.cpf" name="cpf">
  </mat-form-field>

  <!-- Nome -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nome</mat-label>
    <input matInput type="text" [(ngModel)]="cidadao.nome" name="nome">
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="cidadao.email" name="email">
  </mat-form-field>

  <!-- Botões -->
  <div class="d-flex gap-2">
    <button mat-raised-button color="primary" type="button" (click)="salvar()">
      Salvar
    </button>
    <button mat-raised-button color="accent" type="button" (click)="cancelar()">
      Cancelar
    </button>
  </div>

</form>
