<nav class="navbar navbar-expand-lg" style="background-color: var(--primary-color);">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Controle de Demandas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-light" routerLink="/pagehome">Home</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/pageregister">Cadastro</a></li>
      </ul>
    </div>
  </div>
</nav>
