<h2 mat-dialog-title>Editar Cidadão</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="cidadao.cpf" disabled>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="cidadao.nome" placeholder="Digite o nome completo">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mb-3">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="cidadao.email" placeholder="Digite o e-mail">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
