<nav class="navbar navbar-inverse bg-dark navbar-expand-lg">
  <div class="container-fluid">

    <a class="navbar-brand" (click)="irPara('navigation')">WebSiteName</a>

    <div class="d-flex ms-auto">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3" *ngIf="mostrarLink('register')">
          <a class="nav-link" (click)="irPara('register')">Register</a>
        </li>

        <li class="nav-item me-3" *ngIf="mostrarLink('gestao')">
          <a class="nav-link" (click)="irPara('gestao')">Tabelas</a>
        </li>

        <li class="nav-item me-3" *ngIf="mostrarLink('setting')">
          <a class="nav-link" (click)="irPara('setting')">Setting</a>
        </li>

        <li class="nav-item" *ngIf="mostrarLink('')">
          <a class="nav-link" (click)="irPara('')">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
