/* ============================= */
/*          NAVBAR BASE          */
/* ============================= */

.navbar {
  background: var(--bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.233);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Container sem padding para encostar nas bordas */
.navbar-container {
  height: 64px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 0;
}

/* ============================= */
/*           LOGO LEFT           */
/* ============================= */

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;  /* 🔥 leve respirada sem soltar da borda */
  cursor: pointer;
}

.navbar-brand h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text);
}

.brand-icon {
  font-size: 26px;
  color: var(--primary);
}

/* ============================= */
/*          ICONES RIGHT         */
/* ============================= */

.navbar-links {
  margin-left: auto;      /* empurra para direita */
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 12px;    /* 🔥 encostado porém elegante */
}

.navbar-links a,
.navbar-links button {
  display: grid;
  place-items: center;
  padding: 8px;
  border-radius: 10px;
  background: transparent;
  color: var(--text-light);
  border: none;
  cursor: pointer;
  transition: .2s;
}

.navbar-links a:hover,
.navbar-links button:hover {
  background: var(--hover);
  color: var(--primary);
}

.navbar-links a.active {
  background: #e0e7ff;
  color: var(--primary);
}

.navbar-links mat-icon {
  font-size: 24px;
}

/* Botão de tema */
.theme-toggle {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 6px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-inca {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--text);
}

.logo-inca span {
  color: var(--primary);
  font-weight: 900;
  font-size: 36px;
}
