<nav class="navbar">
  <div class="navbar-container">

    <!-- LOGO 100% À ESQUERDA (SEM ÍCONE) -->
    <div class="navbar-brand" (click)="irPara('navigation')">
      <h1 class="logo-inca"><span>I</span>NCA</h1>
    </div>

    <!-- ÍCONES 100% À DIREITA -->
    <div class="navbar-links">

      <a (click)="irPara('register')" 
         *ngIf="mostrarLink('register')" 
         routerLinkActive="active"
         title="Cadastro">
        <mat-icon>person_add</mat-icon>
      </a>

      <a (click)="irPara('gestao')" 
         *ngIf="mostrarLink('gestao')" 
         routerLinkActive="active"
         title="Tabelas">
        <mat-icon>table_chart</mat-icon>
      </a>

      <!--<a (click)="irPara('setting')" 
         *ngIf="mostrarLink('setting')" 
         routerLinkActive="active"
         title="Configurações">
        <mat-icon>settings</mat-icon>
      </a>

      <a (click)="irPara('')" 
         *ngIf="mostrarLink('')" 
         routerLinkActive="active"
         title="Logout">
        <mat-icon>logout</mat-icon>
      </a> -->

      <!-- BOTÃO DE TEMA 
      <button class="theme-toggle" (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>-->

    </div>

  </div>
</nav>
