<div class="card p-3" style="background-color: white; border: none; max-width: 600px; margin: auto;">
  <h4 class="mb-3" style="color: var(--primary-color)">Cadastro de Demanda</h4>

  <!-- Formulário -->
  <form #demandaForm="ngForm">

    <!-- Título -->
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input
        type="text"
        id="titulo"
        class="form-control"
        required
        name="titulo"
        placeholder="Digite o título da demanda"
      />
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea
        id="descricao"
        class="form-control"
        required
        name="descricao"
        rows="4"
        placeholder="Descreva a demanda"
      ></textarea>
    </div>

    <input type="hidden" name="status" value="Aberta" />

    <!-- Botões -->
    <div class="d-flex justify-content-between mt-4">
      <button type="submit" class="btn btn-primary" [disabled]="demandaForm.invalid">
        Cadastrar Demanda
      </button>
      <button type="button" class="btn btn-outline-secondary">
        Voltar para lista
      </button>
    </div>
  </form>
</div>
