:root {
  --primary-color: #0062ae;
  --secondary-color: #0B5A6A;
  --accent-color: #ffcc00;
  --background-color: #f5f5f5;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
