<app-navbar (componenteSelecionado)="onComponenteSelecionado($event)"></app-navbar>

      <div class="d-flex flex-column flex-grow-1" style="width: 100%; height: 100%;">
        <ng-container *ngIf="componenteAtivo === 'cidadaos-list'">
          <app-cidadao-list class="flex-fill" style="width: 100%; height: 100%;"></app-cidadao-list>
        </ng-container>

        <ng-container *ngIf="componenteAtivo === 'cidadao-form'">
          <app-cidadao-form class="flex-fill" style="width: 100%; height: 100%;"></app-cidadao-form>
        </ng-container>

        <ng-container *ngIf="componenteAtivo === 'demandas-list'">
          <app-demanda-list class="flex-fill" style="width: 100%; height: 100%;"></app-demanda-list>
        </ng-container>

        <ng-container *ngIf="componenteAtivo === 'demanda-form'">
          <app-demanda-form class="flex-fill" style="width: 100%; height: 100%;"></app-demanda-form>
        </ng-container>
      </div>
