body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.main-container {
  overflow-y: auto;      
  background-color: rgb(8, 12, 236);
  width: 95%;
  height: 75vh;      
  margin: 0 auto;
  border-radius: 8px;
  scrollbar-width: none;
}
