# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/

# Logs e cache
*.log
*.tmp
*.bak
*.swp
*.class

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Git
.git/
.gitignore

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
.env
data/
