<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <!-- Logo -->
    <div class="navbar-logo navbar-brand">Casa Azul</div>
    
    <!-- Botão mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCustom" aria-controls="navbarCustom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarCustom">
      <div class="navbar-buttons ms-auto d-flex gap-2">

        <button class="btn" *ngIf="rotaAtual !== '/home'" (click)="navegar('/home')">Home</button>

        <button class="btn" *ngIf="rotaAtual !== '/register'" (click)="navegar('/register')">Register</button>

        <button class="btn" *ngIf="rotaAtual !== '/register'" (click)="navegar('/register-empresa')">Null</button>

        <button class="btn" *ngIf="rotaAtual !== '/settings'" (click)="navegar('/settings')">Settings</button>

        <button class="btn" *ngIf="rotaAtual !== '/login'" (click)="navegar('/login')">Logout</button>
      </div>
    </div>
    
  </div>
</nav>
