<h4>Lista de Demandas</h4>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="demandas" class="full-width-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let demanda">{{ demanda.id }}</td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let demanda">{{ demanda.titulo }}</td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let demanda">{{ demanda.descricao }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let demanda">
        <span [style.color]="getStatusColor(demanda.status)">
          {{ demanda.status }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Alterar Status</th>
      <td mat-cell *matCellDef="let demanda">
        <ng-container *ngIf="demanda.status === 'Aberta'">
          <button mat-mini-fab color="primary" class="me-1" (click)="alterarStatus(demanda, 'atender')">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="alterarStatus(demanda, 'cancelar')">
            <mat-icon>cancel</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="demanda.status === 'Não Concluída'">
          <button mat-mini-fab color="primary" (click)="alterarStatus(demanda, 'atender')">
            <mat-icon>check</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="demanda.status === 'Em Andamento'">
          <button mat-mini-fab color="primary" class="me-1" (click)="alterarStatus(demanda, 'finalizar')">
            <mat-icon>done_all</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="alterarStatus(demanda, 'devolver')">
            <mat-icon>undo</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="demanda.status === 'Concluída' || demanda.status === 'Cancelada'">
          <button mat-mini-fab color="warn" (click)="excluir(demanda)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
